# Database
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# RabbitMQ
# Broker port (the port the application connects to) - default 5672
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
# Management UI port (use 15672 to open the web UI in a browser)
SPRING_RABBITMQ_MANAGEMENT_PORT=15672
SPRING_RABBITMQ_USERNAME=
SPRING_RABBITMQ_PASSWORD=

# Redis
SPRING_REDIS_HOST=
SPRING_REDIS_PORT=

# Firebase
# Firebase credentials mounting
# On the host, set FIREBASE_CREDENTIALS_HOST_PATH to the absolute path of your Firebase JSON file
# Example (Windows): C:\SecureKeys\gear-up\firebase-service-account.json
# Example (Linux/macOS): /run/secrets/firebase-service-account.json
FIREBASE_CREDENTIALS_HOST_PATH=

# Path inside the container where the credential file will be mounted (default below)
FIREBASE_CREDENTIALS_CONTAINER_PATH=/run/secrets/firebase-service-account.json

# The services will set APP_FIREBASE_CONFIGURATION_FILE=file:${FIREBASE_CREDENTIALS_CONTAINER_PATH}
